.ProductList-container{
    width: 700px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #fff8;
    overflow-y: scroll;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 50px;

}